<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
<link th:href="@{/main.css}" rel="stylesheet">
<style>
.logo{
text-align: center;
}</style>
</head>
<body>
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a href="/home" class="navbar-item">
        Home
      </a>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a href="/admin" class="button is-primary">
            <strong>Admin Login</strong>
          </a>
        </div>
      </div>
    </div>
  </div>
  </div>
</nav>
<section class="hero">
  <div class="hero-body logo">
     <img th:src="@{/logo.png}" >
  </div>
</section>
<form action="./searchTicketByPriceRange">
    <label for="priceRange">Input the Ticket Price Range to search</label>
  
    <input type="text" placeholder="Price Range" name="priceRange" id="priceRange">
  	<input type="submit" value="Search">
  
</form>
<a href="/home">GoTo Main Page</a><br><br>
</body>
</html>