<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
<link th:href="@{/main.css}" rel="stylesheet">
<style>
.logo{
text-align: center;
}
.homeLinks{
    display: flex;
    justify-content: center;}</style>
</head>
<body>
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a href="/" class="navbar-item">
        Home
      </a>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a href="/admin" class="button is-primary">
            <strong>Admin Login</strong>
          </a>
        </div>
      </div>
    </div>
  </div>
  </div>
</nav>
<section class="hero">
  <div class="hero-body logo">
     <img th:src="@{/logo.png}" >
  </div>
</section>
<p th:text="${message}"></p>
<div class="formInput">
<form class="box" action="#" th:action="@{./userLogin}" th:object="${user}" method="post">
  <div class="field">
    <label class="label">Users Login</label>
    <div class="control">
      <input class="input" type="text" placeholder="Username" th:field="*{username}">
    </div>
  </div>

  <div class="field">
    <label class="label">Password</label>
    <div class="control">
      <input class="input" type="password" placeholder="Password" th:field="*{password}">
    </div>
  </div>
  <input class="button" type="submit" value="Login">
</form>
</div>
<div class="homeLinks">
   <a href="/InputNewUserDetails" class="button is-link">Not a user? Register here!</a>
  <a href="/">GoTo Main Page</a><br><br>
  </div>
</body>
</html>