<!DOCTYPE html>
<html>
<head>
    <title>Search Baskets by Username</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
<link th:href="@{/main.css}" rel="stylesheet">
<style>
.logo{
text-align: center;
}</style>
</head>
<body>
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a href="/home" class="navbar-item">
        Home
      </a>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a href="/admin" class="button is-primary">
            <strong>Admin Login</strong>
          </a>
        </div>
      </div>
    </div>
  </div>
  </div>
</nav>
<section class="hero">
  <div class="hero-body logo">
     <img th:src="@{/logo.png}" >
  </div>
</section>
    <h1>Search Baskets by Username</h1>
    <form action="/baskets/username" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <button type="submit">Search</button>
    </form>
     <a href="/baskets">View All Baskets</a>
     <a href="/home">GoTo Main Page</a><br><br>
</body>

</html>